.nav-link {
    font-weight: bold;
    color: rgb(116,8,6);
    padding: 10px 12px;
    
}
.nav-link i {
    margin-right: 10px;
}
.nav-link.active,
.nav-dropdown .nav-link.active {
    color: #333;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    background-color: rgba(240,240,240,0);
}