.main-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.main-footer .logo-wrapper{
    height: 70px;
    margin: 12px 25px;
}
.main-footer .logo-img{
    width: auto;
    height: 100%;
}

.footer-links-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 280px;
    margin-top: 20px; 
    margin-bottom: 20px;
}

.footer-link {
    margin: 7px auto;
    color: #eee;
}

.footer-links-wrapper .link-icon {
    margin-left: 5px
}

.smackjax-site img{
    height: 18px;
    width: auto;
}

